---
import BaseLayout from "./BaseLayout.astro"
const {frontmatter} = Astro.props
const pageTitle = frontmatter.title
---
<BaseLayout pageTitle={pageTitle} isBlogPost={true}>
    <h1>{pageTitle}</h1>
    <h4>Published: {frontmatter.date}</h4>
    <slot />
</BaseLayout>
<style>
    h1 {
        margin-bottom: .25rem;
    }
    h4 {
        margin: 0;
        font-weight: 300;
    }
</style>